- cache post do
  %article
    - link = post.link
    - if link
      = cache u(link) do
        = post_imgur_image(link)
    .post-body
      = markdown post.body
    %textarea.hide
      = post.body
    %button.update-post.hide{ 'data-id' => post.id }
      save
