- cache post do
  %header
    %span.collapser
      [-]
    %span.post-show-user
      = content_tag(:span, post.email, class: "post-user")
      %i.fi-graph-trend.post-points
      %span.post-points
        = points(post.votes.count)
    %i.fi-clock
    %span.post-timestamps
      = post_timestamps(post)
      / = "Last cached:"+time_ago_in_words(post.updated_at)
