// Shows the title of the Post with (self) or (link)
- if post.link.blank?
  %h2
    = post.title
    %span.post-location
      (self)
- else
  %h2
    = post.title
    %span.post-location
      (#{post.link})