%dl.sub-nav
  %dd
    = link_to 'Front Page', root_path
  %dd
    = link_to 'Live Stream', stream_index_path
  - @subtreddits = Subtreddit.all
  - cache "subtreddit-info-bar-#{@subtreddits.maximum(:updated_at).to_i}" do
    - @subtreddits.each do |subtreddit|
      %dd
        = link_to subtreddit.name.capitalize, pretty_subtreddit_path(subtreddit.name)
