%dl.sub-nav
  %dd
    = link_to 'Front Page', root_path
  - @subtreddits = Subtreddit.all.pluck(:name)
  - cache @subtreddits do
    - @subtreddits.each do |subtreddit|
      %dd
        = link_to subtreddit.capitalize, pretty_subtreddit_path(subtreddit)