%dl.sub-nav
  %dt
    Live Stream
  %dt
    Newests posts updated in Realtime
#live-stream
  - @posts.each do |post|
    .row.post-row
      .small-1.columns
        = render 'posts/index/vote_col', count: post.votes.count, index: 0, cache: true
      .small-11.columns
        = render 'stream/index/post', post: post, index: 0, cache: true