%h1 Listing subtreddits

%table
  %thead
    %tr
      %th Name
      %th Description
      %th

  %tbody
    - @subtreddits.each do |subtreddit|
      %tr
        %td= subtreddit.name
        %td= subtreddit.description
        %td= link_to 'Show', subtreddit

/ = link_to 'New Subtreddit', new_subtreddit_path
