%h1 Listing subtreddits

= link_to new_subtreddit_path, class: 'button secondary' do
  %i.fi-plus
  New Subtreddi
%table
  %thead
    %tr
      %th Name
      %th Description

  %tbody
    - cache @subtreddits do
      - @subtreddits.each do |subtreddit|
        %tr
          %td
            = link_to "tr/#{subtreddit.name}", pretty_subtreddit_path(subtreddit.name)
          %td= subtreddit.description

