%dl.sub-nav
  %dt
    = @subtreddit.name
  %dt
    = @subtreddit.description

- @posts.each.with_index(1) do |post, index|
  .row.post-row
    .small-1.columns
      = index
    .small-11.columns
      = render 'posts/index/post_row', post: post

