.post-show
  = render 'posts/show/title'  , post: @post
  %section
    = render 'posts/show/section', post: @post
  = arranged_tree_as_list(@comments) do |post|
    = render 'posts/show/section', post: post