$aside-text: #a8a8a8;
$darker-background: #f6f6f6;
$primary-color: #008CBA;

.posts-index,
.posts-show {
  padding: 5px;
}

header {
  font-size: 2em;
}

aside {
  color: $aside-text;
  font-weight: 400;
}

.post-location {
  color: $aside-text;
  font-size: .5em;
}


.post-show {
  padding: 20px;

  section {
    background-color: white;
    border: 1px solid lightgrey;
  }

  article {
    padding: 20px 20px 20px 40px;
  }

  header {
    font-size: 1em;
    padding-left: 20px;
  }

  .post-points {
    color: black;
    font-weight: 700;
  }

  section:nth-child(odd) {
    background-color: darken(white, 5%);
  }

  form {
    padding: 20px;
  }

  li {
    list-style: none;
  }

  nav {
    padding: 0 20px 20px;
  }
}

.post-show-user {
  color: $primary-color;
  font-weight: 700;
}

.post-form {
  margin: 0 auto;
  max-width: 800px;
}

.post-row {
  nav {
    font-weight: 700;
  }
}

.post-row:nth-child(odd) {
  background-color: $darker-background;
}

.post-user {
  color: $primary-color;
  font-weight: 700;
}

.post-root-user {
  background-color: $primary-color;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  margin-right: 2px;
  padding: 2px 2px 2px 6px;
}

.post-new {
  background-color: lightgrey;
  margin: 0;
  padding: 20px;
  position: absolute;
  right: 0;
}
