$aside-text: #a8a8a8;

.posts-index,
.posts-show {
  padding: 5px;
}

header {
  font-size: 2em;
}

aside {
  font-weight: 700;
  color: $aside-text;
}

.post-location {
  color: $aside-text;
  font-size: .5em;
}


.post-show {
  article {
    padding: 20px;
  }
}